/*element selector*/
/*
p{
    color: red;
    text-align: center;
}
*/

/* id selector */
/* #id1{
    text-align: center;
    color: red;
}*/

/*
.center{
    text-align: center;
    color: red;
}
.large{
    background-color: yellow;
}*/

/* universal selector*/
/*
*{
    text-align: center;
    color: red;
}*/

/* group selector */
h1, h2, p {
    text-align: center;
    color: red;
}