/*p{
    background-color: coral;
    opacity: 0.3;

}*/
/*
body{
    color: white;
    background-image: url("pataraplajı.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}*/
body{
    background: orangered url("pataraplajı.jpg") no-repeat right top;
}